@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-calendar {
  color: #000;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #330078;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

@font-face {
  font-family: "bebas";
  src: url("/fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geist";
  src: url("/fonts/GeistVF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply text-white;
}
